<!DOCTYPE html>
<html>
<body>

<p><span style="font-size: 30px;"><em>믹스비 개발 중...</em></span></p>
<p><br></p>
<p><span style="font-size: 20px;"><span style="color: rgb(0, 0, 0);"><strong>&lt; 주소 (메소드) 규칙! &gt;</strong></span></span></p>
<p><span style="color: rgb(85, 57, 130);"><em><strong>주류 (상품)</strong></em></span></p>
<p>- 모두 보기 : &nbsp; &nbsp; <a href="http://cocktail.mixby.kro.kr:2222/drink/all">/drink/</a><span style="color: rgb(184, 49, 47);"><a href="http://cocktail.mixby.kro.kr:2222/drink/all">all</a></span></p>
<p>- 키워드 검색 :&nbsp; /drink/<span style="color: rgb(184, 49, 47);">&lt;키워드&gt;</span></p>
<p><br></p>
<p><span style="color: rgb(85, 57, 130);"><em><strong>레시피</strong></em></span></p>
<p>- 모두 보기 : &nbsp; &nbsp; <a href="http://cocktail.mixby.kro.kr:2222/recipe/all">/recipe/</a><span style="color: rgb(184, 49, 47);"><a href="http://cocktail.mixby.kro.kr:2222/recipe/all">all</a></span></p>
<p>- 이미지 : &nbsp; &nbsp; &nbsp; &nbsp; /recipe/<span style="color: rgb(41, 105, 176);">image</span>/<span style="color: rgb(184, 49, 47);">&lt;코드&gt;</span></p>
<p>- 코드 검색 : &nbsp; &nbsp; /recipe/<span style="color: rgb(41, 105, 176);">code</span>/<span style="color: rgb(184, 49, 47);">&lt;코드&gt;</span></p>
<p>- 이름 검색 : &nbsp; &nbsp; /recipe/<span style="color: rgb(41, 105, 176);">name</span>/<span style="color: rgb(184, 49, 47);">&lt;키워드&gt;</span></p>
<p>- 재료 검색 : &nbsp; &nbsp; /recipe/<span style="color: rgb(41, 105, 176);">ing</span>/<span style="color: rgb(184, 49, 47);">&lt;포함 재료&gt;</span></p>
<p><br></p>
<p><span style="color: rgb(134, 142, 150);"><em>(현재 구현된 이미지 코드 : 4, 95, 202, 312)</em></span></p>

</body>
</html>